
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin: 50px 0 50px 0;
}

#flex-column {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 30px;
}

.div-one, 
.div-two,
.div-three,
.div-four {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 200px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h1 {
    margin: -10px 0 0 0;

}

h3 {
    margin-bottom: -45px;
}

.header {
    color: hsl(234, 12%, 34%);
    font-size: 28px;
    margin-top: 50px;
}

p {
    color: hsl(229, 6%, 66%);
    font-size: 13px;
}

footer {
    background-color:hsl(234, 12%, 34%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {color: white; font-size: 20px; text-align: center; }
.attribution a { color: black; }

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}